:root {
  --color_primary: #080f28;
  --color-secondary: #141a32;
  --text-color-primary: #ffffff;
  --text-color-secondary: #3d4f91;
  --color-btn: #007bff;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color_primary);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: var(--color-secondary);
  text-align: center;
}

.header__title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-color-primary);
}

.header__description {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-color-secondary);
  margin-top: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.form-quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 15px;
  border-radius: 20px;
  background-color: var(--color-secondary);
}

.input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label__quantity {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--text-color-primary);
  margin-bottom: 10px;
}

.input__quantity {
  width: 80px;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color_primary);
  border: none;
  outline: none;
  border-radius: 20px;
}

.button {
  padding: 12px;
  margin: 20px;
  border: none;
  background-color: var(--color-btn);
  border-radius: 20px;
  color: var(--color_primary);
  font-size: 1.7rem;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.button__quantity {
  margin: 0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  justify-content: center;
  gap: 16px;
  width: 90%;
  margin: 30px 0;
}

.card {
  width: 100%;
}

.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 18px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 60px;
  text-align: center;
  border-top: 1px solid var(--color-btn);
}

.footer__title {
  font-size: 2rem;
  font-weight: 300;
  color: var(--text-color-primary);
  margin-top: 20px;
}

.footer__subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color-secondary);
  margin-top: 20px;
}
